@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&display=swap');
*{
    box-sizing: border-box;
    
}
body{
    color: white;
    font-family: 'Manrope';
    background-color: white;
}

.black{
    background-color: black;
}

section.header{
    background-color: black;
    height: 100vh;
    border-radius: 0px 0px 300px 0px;
    padding: 30px 100px;
    justify-content: start;
}

ul{
    list-style-type: none;
}

ul>li{
    text-decoration: none;
}

.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar{
    justify-content: space-between;
    margin-bottom: 20px;
}

.hero{
    justify-self: start;
    justify-content: start;
}

.hero-text{
    font-size: 100px;
    font-weight: 1200;
    margin-bottom: 0;
}
.elems{
    gap: 20px !important;
}

.eng{
    /* Frame 6 */
padding: 0px 50px;
gap: 10px;


background: linear-gradient(114.44deg, #3644DB 6.56%, #D15BB2 116.73%);
border-radius: 100px;


width: 437px;
height: 87px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 54px;
line-height: 87px;
text-transform: uppercase;

color: #FFFFFF;


}
.second-hero{
    display: flex;
    background-color: transparent;
    /* padding: 10px; */
    font-size: 30px;
}
.with{
    margin: 20px;
}

.chess{
    /* Mask group */

position: absolute;
width: 926px;
height: 633px;
left: 162px;
top: 783px;



/* Rectangle 1 */

position: absolute;
width: 926px;
height: 633px;
left: 162px;
top: 783px;

background: #D9D9D9;
border-radius: 30px;


/* image 3 */

position: absolute;
width: 2152.67px;
height: 778px;
left: -225.37px;
top: 783px;


background: url(Checker.png);

}

.lorem{
    width: 300px;
    position: absolute;
    bottom: 170px;
    right: 150px;
    font-size: 15px;
}

.nnn{
    /* Rectangle 6 */

position: absolute;
width: 1920px;
height: 1247px;
left: 0px;
top: 0px;

background: #0D0D0D;

/* Make FOLLOWER */

position: absolute;
width: 1333px;
height: 219px;
left: 162px;
top: 257px;


font-style: normal;
font-weight: 800;
font-size: 160px;
line-height: 219px;
/* identical to box height */
text-transform: uppercase;

color: #FFFFFF;


}

.below{
    border-top-left-radius: 300px;
    height: 100vh;
    background-color: white;
}
.a2{
    margin: 0 !important;
    position: absolute;
    right: 40px;
    top: 120vh;
    /* top: 30px; */
    background: linear-gradient(114.44deg, #3644DB 6.56%, #D15BB2 116.73%);
    -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 
}

.round{
    height: 70px;
    position: absolute;
    right: 200px;
    top: 82vh;
}

.chess1>img{
    width: 600px;
    height: 300px;
}

.chess1{
    position: absolute;
    bottom: 0px;
    left: 200px;
    width: 300px;
}