*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}
body{
    background: #000;
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: absolute;
    width: 100%;
   
    color: #fff;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 100px;
    left: 100px;height: 100vh;
    background:#000;
    border: 2px soliod #fff;
    border-bottom-right-radius: 300px;
}
.home h1{
 font-size: 100px;
 color: #fff;
 text-align: left;
}
.home h3{
    padding: 15px;
    color:#fff;
    font-size:25px;
}
.new{
    display: flex;
}
.myp{
    position: relative;
    margin-top: 100px;
   left: 880px;
    width: 30%;
    font-size: 10px;
}
.myp p{  
     right: 0;
    color: #fff;
}
button{
    height: 50px;
    width: 250px;
    padding: 5px;
    border-radius: 20px;
    font-size: 20px;
    color:#fff;
    background: linear-gradient(to right,#5649d2,#3644db,#d15bb2);
}
.about-us{
    display: flex-end;
     
    height: 100vh;
    background:#fff;
}
.about-us h2{
    padding: 30px;
  float: right;
}
.about-us p{
    padding: 120px;
  font-size: 30px;
  color: #000;
  
}
.about-us .left{
    margin-left: 110px;
    width: 30%;
    font-size: 12px;
}