body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
    /* Add your custom styles here */
    .navbar-expand-lg navbar-light bg-lightz
.navbar {
    background-color: black; /* Replace with your desired background color */
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: white; /* Replace with your desired text color */
  }
  
  .navbar-toggler-icon {
    background-color: white; /* Replace with your desired color for the toggler icon */
  }
  
  .navbar-toggler {
    border: none; /* Remove border from the toggler button */
  }
  
  .navbar-toggler:hover {
    background-color: #333; /* Darken the background on hover, replace with your desired hover color */
  }
  
  .about-us-container {
    background-color:white;
    padding: 40px;
    text-align: center;
  }
  
  .about-us-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    color: #666;
    line-height: 1.6;
  }
  .btn {
    text-align: center;
  }
  
  .btn1 {
    background-color: #ED5AB3; /* Replace with your desired background color */
    color: #ffffff; /* Replace with your desired text color */
    padding: 12px 24px;
    margin: 5px;
    border: none;
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
    cursor: pointer;
    font-size: 16px; /* Replace with your desired font size */
    font-weight: bold; /* Replace with your desired font weight */
    letter-spacing: 1px; /* Optional: Adjust letter spacing */
    transition: background-color 0.3s;
  }
  .btn2{
      background-color: black;
      color: #ffffff;
      padding: 12px 24px;
  }
  .btn:hover {
    background-color: #45a049; /* Darker color on hover, replace with your desired hover color */
  }
  /* Add your custom styles here */

.my {
    background-color: #ED5AB3; /* Replace with your desired background color */
    padding: 20px; /* Add padding for spacing */
    text-align: center;
  }
  
  h4 {
    color:white; /* Replace with your desired text color */
  }
  
  .my button {
    background-color: white; /* Replace with your desired button background color */
    color: rgb(36, 29, 29); /* Replace with your desired button text color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    box-shadow:2px 2px 6px 2px white;/* Add transition for a smooth hover effect */
  }
  
  button:hover {
    background-color:white; /* Darker color on hover, replace with your desired hover color */
  }
  