*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    background-color: black;
    color: white;
}
.navop{
    display: flex;
    gap: 1rem;
}
.navop li{
    list-style: none;
}


.content_1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 5rem;
    background-color: black;
    border-bottom-right-radius: 5rem;
}
.content_1 h1{
color: aliceblue;
font-size: 8rem;
text-transform: uppercase;
}
.content_1_btn{
    display: flex;
    gap: 1rem;
}

.content_1_btn h1{
    padding: 0.5em 0.5em;
    background:crimson;
    font-size: 2.5rem;
    text-transform: uppercase;
    width:15em;
    text-align: center;
    color: white;
    font-weight: bolder;
    border-radius: 3.5em;
}
#h1{
    background-color: transparent;
    width: 50rem;
}
.box{
    height: 20rem;
    width: 30rem;
    background-color: red;
    display: flex;
}
.bxes{
width: 5rem;
height: 5rem;
background-color: aliceblue;
}


.box2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    color: white;
}

.boxleft{
    align-self: flex-end;
}
.boxright{
    padding: 2rem;
}
.boxright h1{
    font-size: 2rem;
    margin: 3rem;
}
.boxright p{
    margin-left: 5rem;
    max-width: 25rem;
}

.box3{
    padding: 3rem;
    background-color: purple;
    display: flex;
    align-items: center;
}
.box3 h1{
    margin-bottom: 5rem;
    font-size: 4rem;
}
.box3 button{
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: none;
}